$primary-color: #3d4f5d;
$primary-text: #fff;
$dark-text:#015601;
$secondary-text: #2c3e50;
$accent-color: #5b8796;
$border-color: rgb(209, 218, 223);
$semi-transparent: rgba(242, 242, 246, 0.98);
$hover-color: rgba(232, 232, 232, 0.29);

virtual-scroll,
[virtualScroll] {
  overflow: hidden;
  overflow-y: auto;
  border: 1px solid $border-color;
  height: 400px;
  display: block;
}

:host {
  app-account-history-list-history {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    border: 0;
    margin: 0px;
    width: 100%;
  }
  button {
    background: #03A9F4;
    border: none;
    color: white;
    margin: 1em;
    width: 4em;
    border-radius: 5em;
    font-size: .8em;
    line-height: 1em;
    padding: .5em;
    outline: none;
  }
  .loader {
    height: 4em;
    display: block;
    line-height: 4em;
    text-align: center;
    position: relative;
  }
  .loader:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 2px;
    background: red;
    animation: loader-animation 2s ease-out infinite;
  }
  @keyframes loader-animation {
    0% {
      transform: translate(0%);
    }
    100% {
      transform: translate(500%);
    }
  }
}
