<!-- SIGN UP OR IN MODAL -->
<!-- Header -->
<div class="modal-header">
  <h4 class="modal-title">{{ name }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!-- Body -->
<div class="modal-body d-flex justify-content-center">
  <app-sign-login *ngIf="name == 'Login'" (register)="name = 'Register'"></app-sign-login>
  <app-sign-register *ngIf="name == 'Register'" (resultNotification)="checkUserCreation($event)"></app-sign-register>
</div>
<!-- Footer -->
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
