<div class="row">
  <div class="col">
    <div class="text-white bg-dark text-center">&nbsp;</div>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="container">
          <h1 class="display-5 text-center">Account Settings</h1>
        </div>
        <hr>
        <h2> Created: </h2>
        <span *ngIf="this.user.dateCreated === null">N/A</span>
        {{ this.user.dateCreated }}
        <hr>
        <h2> Email: </h2>
        <span *ngIf="this.user.email === null">N/A</span>
        {{ this.user.email }}
        <hr>
        <h2> Update Password: </h2>
        <p></p>
        <form name="form" (ngSubmit)="f.form.valid && updateUser()" #f="ngForm" novalidate>
          <hr>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !inputPassword1.valid }">
            <input type="password" class="form-control" name="inputPassword1" [(ngModel)]="model.inputPassword1" #inputPassword1="ngModel"
              placeholder="New password" required />
            <div *ngIf="f.submitted && !inputPassword1.valid" class="help-block">Password is required</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !inputPassword2.valid }">
            <input type="password" class="form-control" name="inputPassword2" [(ngModel)]="model.inputPassword2" #inputPassword2="ngModel"
              placeholder="Repeat new password" required />
            <div *ngIf="f.submitted && !inputPassword2.valid" class="help-block">Password is required</div>
          </div>
          <div class="form-group">
            <button class="btn btn-info" (click)="updateUser()">Update Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
